body {
  font-family: Helvetica;
}
.app {
  margin-top: 20px;
  margin-bottom: 20px;
}

.channels-container {
  max-width: 50vh;
  background-color: rgb(223, 223, 223);
  font-weight: bold;
  color: rgb(125, 125, 125);
}

li:hover {
  color: blue;
  cursor: pointer;
}

span {
  color: black;
  font-weight: bold;
}
.active {
  color: black;
}
.channel-container {
  height: 100vh;
  display: inline-block;
  align-items: bottom;
  max-width: 100vh;
}
.channel-editor {
  min-width: 100vh;
  vertical-align: bottom;
}

.channel-content {
  vertical-align: top;
}

.chat-box {
  border: 1px solid lightgrey;
}

.channel-title {
  border-bottom: 1px solid lightgrey;
}
