body {
  font-family: Helvetica;
}
.app {
  margin-top: 20px;
  margin-bottom: 20px;
}

.channels-container {
  max-width: 50vh;
}

.channel-container {
  height: 100vh;
  display: inline-block;
  max-width: 100vh;
}
.channel-editor {
  min-width: 100vh;
  position: absolute;
  bottom: 0px;
}

.channel-content {
  vertical-align: bottom;
}

.channel-title {
  border: 1px solid lightgrey;
}
